<script src="/static/javascript/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/javascript/artdialog/dist/dialog-plus.js"></script>

<script type="text/javascript" src="/static/javascript/jquery.plugin/jquery.form.js"></script>
<script type="text/javascript" src="/static/javascript/common/frame.js"></script>

<script type="text/javascript" src="/static/javascript/jquery.plugin/jquery.validate.js"></script>
<script type="text/javascript" src="/static/javascript/common/validate.js"></script>

<script type="text/javascript" src="/static/bootstrap/table/bootstrap-table.js"></script>
<script type="text/javascript" src="/static/javascript/module/bootstrap-table-common.js"></script>
