<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav side-nav side-inverse">
        <li>
            <a href="/root/user/manage"> 用户管理</a>
        </li>
        <li>
            <a href="charts.html"> Charts</a>
        </li>
        <li>
            <a href="tables.html"> Tables</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#demo"><i class="caret"></i> Dropdown</a>
            <ul id="demo" class="collapse in">
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li>
    </ul>
</div>